{
  "openapi": "3.0.3",
  "info": {
    "title": "Matomo Analytics API",
    "description": "Auto-generated OpenAPI specification for Matomo Analytics API. This specification was generated by introspecting the Matomo API endpoints.",
    "version": "5.6.1",
    "contact": {
      "name": "Matomo",
      "url": "https://matomo.org"
    },
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://matomo.hook0.com",
      "description": "Matomo instance"
    }
  ],
  "paths": {
    "/index.php?module=API&method=MultiSites.getAll&format=json": {
      "get": {
        "operationId": "MultiSites_getAll",
        "summary": "MultiSites.getAll",
        "description": "This report gives you an informational overview for each of your websites, containing the most general metrics about your visitors.",
        "tags": [
          "MultiSites"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "revenue": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "previous_nb_visits": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "previous_nb_pageviews": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "idsite": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "periodName": {
                        "type": "string"
                      },
                      "previous_hits": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "main_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "hits_evolution_trend": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "previous_revenue": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "ratio": {
                        "type": "number",
                        "format": "double"
                      },
                      "label": {
                        "type": "string"
                      },
                      "nb_visits": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "hits": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "hits_evolution": {
                        "type": "string"
                      },
                      "visits_evolution_trend": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "visits_evolution": {
                        "type": "string"
                      },
                      "currencySymbol": {
                        "type": "string"
                      },
                      "revenue_evolution_trend": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "actions_evolution": {
                        "type": "string"
                      },
                      "previousRange": {
                        "type": "string"
                      },
                      "pageviews_evolution": {
                        "type": "string"
                      },
                      "revenue_evolution": {
                        "type": "string"
                      },
                      "pageviews_evolution_trend": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "group": {
                        "type": "string"
                      },
                      "previous_nb_actions": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "actions_evolution_trend": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "nb_actions": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "nb_pageviews": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "actions_evolution": "-0.7%",
                    "actions_evolution_trend": -1,
                    "currencySymbol": "€",
                    "group": "",
                    "hits": 354,
                    "hits_evolution": "-0.7%",
                    "hits_evolution_trend": -1,
                    "idsite": 1,
                    "label": "Hook0 Website",
                    "main_url": "https://www.hook0.com",
                    "nb_actions": 354,
                    "nb_pageviews": 324,
                    "nb_visits": 239,
                    "pageviews_evolution": "0.7%",
                    "pageviews_evolution_trend": 1,
                    "periodName": "day",
                    "previousRange": "Wed, Dec 17",
                    "previous_hits": 372,
                    "previous_nb_actions": 372,
                    "previous_nb_pageviews": 336,
                    "previous_nb_visits": 253,
                    "previous_revenue": 0,
                    "ratio": 0.958,
                    "revenue": 0,
                    "revenue_evolution": "0%",
                    "revenue_evolution_trend": 0,
                    "visits_evolution": "-1.4%",
                    "visits_evolution_trend": -1
                  },
                  {
                    "actions_evolution": "12.6%",
                    "actions_evolution_trend": 1,
                    "currencySymbol": "€",
                    "group": "",
                    "hits": 179,
                    "hits_evolution": "12.6%",
                    "hits_evolution_trend": 1,
                    "idsite": 2,
                    "label": "Hook0 UI",
                    "main_url": "https://app.hook0.com",
                    "nb_actions": 179,
                    "nb_pageviews": 176,
                    "nb_visits": 69,
                    "pageviews_evolution": "17.8%",
                    "pageviews_evolution_trend": 1,
                    "periodName": "day",
                    "previousRange": "Wed, Dec 17",
                    "previous_hits": 166,
                    "previous_nb_actions": 166,
                    "previous_nb_pageviews": 156,
                    "previous_nb_visits": 58,
                    "previous_revenue": 0,
                    "ratio": 0.958,
                    "revenue": 0,
                    "revenue_evolution": "0%",
                    "revenue_evolution_trend": 0,
                    "visits_evolution": "24.2%",
                    "visits_evolution_trend": 1
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=MultiSites.getOne&format=json": {
      "get": {
        "operationId": "MultiSites_getOne",
        "summary": "MultiSites.getOne",
        "description": "This report gives you an informational overview for a specific website, containing the most general metrics about your visitors.",
        "tags": [
          "MultiSites"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revenue": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "revenue_evolution_trend": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_actions": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "visits_evolution_trend": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "actions_evolution": {
                      "type": "string"
                    },
                    "visits_evolution": {
                      "type": "string"
                    },
                    "revenue_evolution": {
                      "type": "string"
                    },
                    "hits": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "hits_evolution_trend": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "actions_evolution_trend": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_visits": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "pageviews_evolution": {
                      "type": "string"
                    },
                    "pageviews_evolution_trend": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_pageviews": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "hits_evolution": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "actions_evolution": "0%",
                  "actions_evolution_trend": 0,
                  "hits": 0,
                  "hits_evolution": "0%",
                  "hits_evolution_trend": 0,
                  "nb_actions": 0,
                  "nb_pageviews": 0,
                  "nb_visits": 0,
                  "pageviews_evolution": "0%",
                  "pageviews_evolution_trend": 0,
                  "revenue": 0,
                  "revenue_evolution": "0%",
                  "revenue_evolution_trend": 0,
                  "visits_evolution": "0%",
                  "visits_evolution_trend": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=VisitsSummary.get&format=json": {
      "get": {
        "operationId": "VisitsSummary_get",
        "summary": "VisitsSummary.get",
        "description": "This report provides a very general overview of how your visitors behave.",
        "tags": [
          "VisitsSummary"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nb_visits": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_visits_converted": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "sum_visit_length": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "avg_time_on_site": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_uniq_visitors": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "bounce_count": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "bounce_rate": {
                      "type": "string"
                    },
                    "nb_actions": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_users": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "nb_actions_per_visit": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "max_actions": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                },
                "example": {
                  "avg_time_on_site": 0,
                  "bounce_count": 0,
                  "bounce_rate": "0%",
                  "max_actions": 0,
                  "nb_actions": 0,
                  "nb_actions_per_visit": 0,
                  "nb_uniq_visitors": 0,
                  "nb_users": 0,
                  "nb_visits": 0,
                  "nb_visits_converted": 0,
                  "sum_visit_length": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserCountry.getCountry&format=json": {
      "get": {
        "operationId": "UserCountry_getCountry",
        "summary": "UserCountry.getCountry",
        "description": "Shows which country your visitors connected from when accessing your website.",
        "tags": [
          "UserCountry"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserCountry.getContinent&format=json": {
      "get": {
        "operationId": "UserCountry_getContinent",
        "summary": "UserCountry.getContinent",
        "description": "Shows which continent your visitors connected from when accessing your website.",
        "tags": [
          "UserCountry"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserCountry.getRegion&format=json": {
      "get": {
        "operationId": "UserCountry_getRegion",
        "summary": "UserCountry.getRegion",
        "description": "Shows which region your visitors connected from when accessing website.<br/>Set up GeoIP in the Geolocation admin tab to provide data for this report. The commercial <a target=\"_blank\" rel=\"noreferrer noopener\" href=\"http://www.maxmind.com/?rId=piwik\">MaxMind</a> GeoIP databases are more accurate than the gratis ones. <a target=\"_blank\" rel=\"noreferrer noopener\" href=\"http://www.maxmind.com/en/city_accuracy?rId=piwik\">Click here</a> to see how accurate they are.",
        "tags": [
          "UserCountry"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserLanguage.getLanguage&format=json": {
      "get": {
        "operationId": "UserLanguage_getLanguage",
        "summary": "UserLanguage.getLanguage",
        "description": "Shows which language the visitor's browsers are using. (e.g. \"French\")",
        "tags": [
          "UserLanguage"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserCountry.getCity&format=json": {
      "get": {
        "operationId": "UserCountry_getCity",
        "summary": "UserCountry.getCity",
        "description": "Shows the cities your visitors connected from when accessing your website.<br/>Set up GeoIP in the Geolocation admin tab to provide data for this report. The commercial <a target=\"_blank\" rel=\"noreferrer noopener\" href=\"http://www.maxmind.com/?rId=piwik\">MaxMind</a> GeoIP databases are more accurate than the gratis ones. <a target=\"_blank\" rel=\"noreferrer noopener\" href=\"http://www.maxmind.com/en/city_accuracy?rId=piwik\">Click here</a> to see how accurate they are.",
        "tags": [
          "UserCountry"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserLanguage.getLanguageCode&format=json": {
      "get": {
        "operationId": "UserLanguage_getLanguageCode",
        "summary": "UserLanguage.getLanguageCode",
        "description": "Shows which exact language code the visitor's browsers is set to. (e.g. \"German — Austria (de-at)\")",
        "tags": [
          "UserLanguage"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getType&format=json": {
      "get": {
        "operationId": "DevicesDetection_getType",
        "summary": "DevicesDetection.getType",
        "description": "This report shows the types of devices your visitors were using. This report will always show all device types Matomo is able to detect, even if there were no visits with a specific type.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getModel&format=json": {
      "get": {
        "operationId": "DevicesDetection_getModel",
        "summary": "DevicesDetection.getModel",
        "description": "This report shows the devices your visitors are using. Each model is displayed combined with the device brand as some model names are used by multiple brands.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getBrand&format=json": {
      "get": {
        "operationId": "DevicesDetection_getBrand",
        "summary": "DevicesDetection.getBrand",
        "description": "This report shows the brands / manufacturers of the devices your visitors were using. In most cases this information is only available for non-desktop devices.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=Resolution.getResolution&format=json": {
      "get": {
        "operationId": "Resolution_getResolution",
        "summary": "Resolution.getResolution",
        "description": "This report shows the screen resolutions your visitors used when viewing your website.",
        "tags": [
          "Resolution"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getOsVersions&format=json": {
      "get": {
        "operationId": "DevicesDetection_getOsVersions",
        "summary": "DevicesDetection.getOsVersions",
        "description": "This report shows you the operating systems your visitors are using. Each version and distribution is shown separately.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getBrowsers&format=json": {
      "get": {
        "operationId": "DevicesDetection_getBrowsers",
        "summary": "DevicesDetection.getBrowsers",
        "description": "This report contains information about what kind of browser your visitors were using.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getBrowserVersions&format=json": {
      "get": {
        "operationId": "DevicesDetection_getBrowserVersions",
        "summary": "DevicesDetection.getBrowserVersions",
        "description": "This report contains information about what kind of browser your visitors were using. Each browser version is listed separately.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=Resolution.getConfiguration&format=json": {
      "get": {
        "operationId": "Resolution_getConfiguration",
        "summary": "Resolution.getConfiguration",
        "description": "This report shows the most common overall configurations that your visitors had. A configuration is the combination of an operating system, a browser type and a screen resolution.",
        "tags": [
          "Resolution"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getOsFamilies&format=json": {
      "get": {
        "operationId": "DevicesDetection_getOsFamilies",
        "summary": "DevicesDetection.getOsFamilies",
        "description": "This report shows you the operating systems your visitors are using grouped by operating system family. An operating system family consists of different versions or distributions.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicesDetection.getBrowserEngines&format=json": {
      "get": {
        "operationId": "DevicesDetection_getBrowserEngines",
        "summary": "DevicesDetection.getBrowserEngines",
        "description": "This report shows your visitors' browsers broken down into browser engines. <br /> The most important information for web developers is what kind of rendering engine their visitors are using. The labels contain the names of the engines followed by the most common browser using that engine in brackets.",
        "tags": [
          "DevicesDetection"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=DevicePlugins.getPlugin&format=json": {
      "get": {
        "operationId": "DevicePlugins_getPlugin",
        "summary": "DevicePlugins.getPlugin",
        "description": "This report shows which browser plugins your visitors had enabled. This information might be important for choosing the right way to deliver your content.",
        "tags": [
          "DevicePlugins"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=VisitTime.getVisitInformationPerLocalTime&format=json": {
      "get": {
        "operationId": "VisitTime_getVisitInformationPerLocalTime",
        "summary": "VisitTime.getVisitInformationPerLocalTime",
        "description": "This graph shows what time it was in the <strong> visitors' time zones </strong> during their visits.",
        "tags": [
          "VisitTime"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=VisitTime.getVisitInformationPerServerTime&format=json": {
      "get": {
        "operationId": "VisitTime_getVisitInformationPerServerTime",
        "summary": "VisitTime.getVisitInformationPerServerTime",
        "description": "This graph shows what time it was in the <strong> site's time zone </strong> during the visits.",
        "tags": [
          "VisitTime"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=VisitTime.getByDayOfWeek&format=json": {
      "get": {
        "operationId": "VisitTime_getByDayOfWeek",
        "summary": "VisitTime.getByDayOfWeek",
        "description": "This graph shows the number of visits your website received on each day of the week.",
        "tags": [
          "VisitTime"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=UserId.getUsers&format=json": {
      "get": {
        "operationId": "UserId_getUsers",
        "summary": "UserId.getUsers",
        "description": "Shows visits and other general metrics for every individual User ID.",
        "tags": [
          "UserId"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "range"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date (YYYY-MM-DD or keywords like 'today', 'yesterday')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment definition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (JSON, XML, CSV, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "JSON",
              "enum": [
                "JSON",
                "XML",
                "CSV",
                "TSV",
                "HTML",
                "PHP",
                "RSS"
              ]
            }
          },
          {
            "name": "token_auth",
            "in": "query",
            "description": "Authentication token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_limit",
            "in": "query",
            "description": "Limit the number of rows returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter_offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "example": []
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - authentication required"
          }
        },
        "security": [
          {
            "token_auth": []
          }
        ]
      }
    },
    "/index.php?module=API&method=Actions.get&format=json": {
      "get": {
        "operationId": "Actions_get",
        "summary": "Actions.get",
        "description": "This report provides a very basic overview of what actions your visitors take on your website.",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "idSite",
            "in": "query",
            "description": "The site ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The period (day, week, month, year, range)",
            "required": false,
            "schema": {
              "type": "string",
[...]
